/*style font----------------------------------------------------------*/
body{
    font-family: 'Roboto',sans-serif;
    background-size:100%; 
    font-size:15px;  
    width :100vw;
    height: 100vh;
}
header h1{color: white;
    -webkit-text-stroke: 1px black;/*marche pas sur tous les navigateurs*/
}
h2{color: black; /*MENU*/
    font-size: 20px;
    margin:0;
}
h3{color: darkorange; /*TEAM1/2 */
    margin:0;
}
h4{color: black; /*nom superheroes*/
    margin:0;
}
header{
    font-family: 'KaBlam';
    border:black 1px solid;
    text-align: center;
}
/*------------------------------------------------------------------*/
.gradient{/*fond du titre*/
    height: auto;
    background-color: red;
    background:
      radial-gradient( circle, darkred 30%,transparent 15%),
      radial-gradient( circle, darkred 30%,red 15%) 30px 30px;
    background-size: 20px 20px;}

/*style du menu--------------------------------------------------------------------*/
.menu{
    display:flex;
    flex-direction: column;
    width: 150px;
    background-color:grey;
    border:black solid 2px;
    grid-column: 1;   
}
#bouton{
    display:flex;
    flex-direction: column;
    align-items: center;
}
.menu input,label{/*taille des barres de saisis et du Ajouter dessus*/
    width:90%;
}
.heroes_name div{
    display: flex;
    align-items: center;
}
.heroes_name button{/*croix à coté des héros---------*/
    background-color: transparent;
    border:transparent;
    color:black;
    width: 20px;
    height: 20px;
    border-radius: 90%;
    padding:3px;
    transform:rotate(45deg);
}
.heroes_name button:hover{
    background-color:white;
}                   /*-------------------------------*/
#bouton button{/*bouton "lancer le match*/
    padding: 10px;
    background-color: red;
    width:80px;
    height:80px;
    border-radius: 50%;
    border: darkred solid 3px;
    font-family:'KaBlam';
    font-size:15px;
    color: white;
}
.team h3, .heroes_name div,form, #bouton,#menu_title h2{
    padding:7px;
    border-top: black solid 1px;
}
/*------------------------------------------------------------------------------*/
.corps {
    display: grid;
    grid-template-columns: 154px auto;
    grid-row: 100%;
    height:90%;
}

.combat {
    grid-column: 2;
    background: url(./image/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}